.card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
  }
  
  .transactions-title {
    color: #676fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
  }
  
  .form-control {
    width: 100%;
    height: 46px;
    background-color: #1b2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9aaabe;
    padding: 0 20px;
    font-size: 18px;
  }
  
  .red-btn {
    width: 100px;
    height: 46px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #ff6b72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .transactions-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  .transactions-table thead {
    height: 55px;
    font-size: 16px;
    color: #e9e9e9;
    font-weight: 700;
  }
  
  .transactions-table tbody {
    font-size: 14px;
    font-weight: 400;
    color: #cfcfcf;
    text-align: center;
  }
  
  .transactions-table tbody tr {
    height: 74px;
    border-top: 1px solid #5f6e82;
  }
  
  .transactions-table tbody tr:hover > td {
    background-color: #384459;
  }
  
  .transactions-table tbody tr:nth-child(odd) {
    background-color: #242c3b;
  }
  
  .show576 {
      display: none;
  }
  
  .show992 {
      display: none;
  }
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
  @media (min-width: 576px) {
      .show576 {
          display: table-cell;
      }
  
      .card {
          padding: 35px;
      }
  
      .transactions-table tbody tr {
          height: 55px;
      }
  
      .transactions-table tbody {
          font-size: 18px;
      }
  }
  
  @media (min-width: 992px) {
      .show992 {
          display: table-cell;
      }
  }